<!-- Start:Topbar -->
<div class="my-4 bg-light py-3">
  <div class="container-fluid">
    <div class="d-flex justify-content-space-between">
      <h3>Angular Crud</h3>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployee">
          Launch demo modal
        </button>
      </div>
    </div>
  </div>
  <!-- End:Topbar -->

  <!-- Start:table -->
  <!-- <section class="container-fluid">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>EmailId</th>
            <th>Mob No.</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Hiral</td>
            <td>Dubal</td>
            <td>hirrdubal11gmail.com</td>
            <td>7984169603</td>
            <td>{{4000 | currency:'INR'}}</td>
            <td>
                <button class="btn btn-primary me-3">Edit</button>
                <button class="btn btn-warning">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</section> -->


  <!-- Modal -->
  <div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>