<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="../assets/img/card1.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <h4>Paris</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis non ipsam, veniam
                            tenetur voluptas voluptatem consequatur, alias et laboriosam a perspiciatis minima molestias
                            deserunt reprehenderit. Ex, vel quos! Perspiciatis.</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="../assets/img/card2.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <h4>Paris</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis non ipsam, veniam
                            tenetur voluptas voluptatem consequatur, alias et laboriosam a perspiciatis minima molestias
                            deserunt reprehenderit. Ex, vel quos! Perspiciatis.</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="../assets/img/card3.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <h4>Paris</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis non ipsam, veniam
                            tenetur voluptas voluptatem consequatur, alias et laboriosam a perspiciatis minima molestias
                            deserunt reprehenderit. Ex, vel quos! Perspiciatis.</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img [src]="tourImage" alt="" class="img-fluid">
                    <div class="card-body">
                        <h4>{{tourName}}</h4>
                        <h6>{{getDate()}}</h6>
                        <h6>{{time}}</h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis non ipsam, veniam
                            tenetur voluptas voluptatem consequatur, alias et laboriosam a perspiciatis minima molestias
                            deserunt reprehenderit. Ex, vel quos! Perspiciatis.</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- COUNTER -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="header bg-success">
                        <h3 class="ps-3">Counter</h3>
                    </div>
                    <div class="card-body">
                        <h4>{{count}}</h4>
                        <button (click)="increment()" class="btn btn-danger btn-sm me-3">Increment</button>
                        <button (click)="decrement()" class="btn btn-success btn-sm">Dicrement</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Function With Parameter -->
<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="header bg-warning text-white">
                        <h3 class="ps-3">Wish Message</h3>
                    </div>
                    <div class="card-body">
                        <h4>{{message}}</h4>
                        <button (click)="updateMsg('Good Morning')"class="btn btn-danger btn-sm me-3">Good Morning</button>
                        <button (click)="updateMsg('Good Afternoon')" class="btn btn-success btn-sm me-3">Good Afternoon</button>
                        <button (click)="updateMsg('Good Evening')" class="btn btn-primary btn-sm">Good Evening</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>